
    <div class="container text-center">
        <div class="cart-empty">
            <div class="cart-empty-icon">
                <i class="now-ui-icons shopping_basket"></i>
            </div>
            <div class="cart-empty-title">
                <p>هیچ کالایی موجود نمی باشد!</p>

            </div>
            <div class="parent-btn">
                <a asp-action="Login" asp-controller="Account" asp-area="identity" class="dk-btn dk-btn-success">
                    به حساب کاربری خود وارد شوید
                    <i class="fa fa-sign-in"></i>
                </a>
            </div>
            <div class="cart-empty-url">
                <span>کاربر جدید هستید؟</span>
                <a asp-action="Register" asp-controller="Account" asp-area="identity">ثبت‌نام در تاپ کالا</a>
            </div>
        </div>
    </div>
