@model DataLayer.Product

@{
    ViewData["Title"] = "Create";
}

<div class="card m-3 text-right fontiran">
    <form asp-action="Create">

        <div class="card-header">
            ایجاد محصول
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-12 col-sm-2">
                    <label asp-for="CategoryId"></label>
                </div>
                <div class="col-12 col-sm-10">
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" id="CategoryList">
                        <option>انتخاب </option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-lg-2">
                    <label> برند </label>
                </div>
                <div class="col-12 col-lg-10">
                    <select asp-for="BrandId" class="form-control" id="BrandList">
                        <option> </option>
                    </select>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-2">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-12 col-sm-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-2">
                    <label asp-for="EnglishName"></label>
                </div>
                <div class="col-12 col-sm-10">
                    <input asp-for="EnglishName" class="form-control" />
                    <span asp-validation-for="EnglishName" class="text-danger"></span>
                </div>
            </div>
          
            <div class="form-group row">
                <div class="col-12 col-sm-2">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-12 col-sm-10">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-2">
                    <label asp-for="Reduction"></label>
                </div>
                <div class="col-12 col-sm-10">
                    <input asp-for="Reduction" class="form-control" />
                    <span asp-validation-for="Reduction" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-2">
                    <label asp-for="IsSpecial"></label>
                </div>
                <div class="col-12 col-sm-10">
                    <input asp-for="IsSpecial" type="checkbox" class="form-check-input" />
                    <span asp-validation-for="IsSpecial" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-2">
                    <label asp-for="Tags"></label>
                </div>
                <div class="col-12 col-sm-10">
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-2">
                    <label asp-for="Review"></label>
                </div>
                <div class="col-12 col-sm-10">
                    <textarea asp-for="Review" class="form-control"></textarea>
                    <span asp-validation-for="Review" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class=" row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-block" />
                    </div>
                </div>

            </div>
        </div>


    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script>

        $(function () {
            $("#Review").ckeditor();
        })
    </script>


    <script type="text/javascript">
        //Insert default item "Select" in dropdownlist on load
        $(document).ready(function () {
            var items = "<option value='0'>انتخاب</option>";
            $("#BrandList").html(items);
        });

        //Bind City dropdownlist
        $("#CategoryList").change(function () {
            var CategoryId = $("#CategoryList").val();
            var url = "/Admin/CreateProduct/GetBrands";

            $.getJSON(url, { CountryId: CategoryId }, function (data) {
                var item = "<option >انتخاب</option>";
                $("#BrandList").empty();
                $.each(data, function (i, attr) {
                    item += '<option value="' + attr.value + '">' + attr.text + '</option>'
                });
                $("#BrandList").html(item);
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





