
<div class="card m-3 text-right fontiran ">
  

        
    <div class="card-body  text-right">

        <div class="alert alert-success">
            <h6>محصول با موفقیت درج شد</h6>
            <p><a href="/Admin/CreateProduct/Create">محصول دیگر</a></p>
            <p><a href="/"> سایت</a></p>
        </div>


    </div>
        

</div>

