<section id="content-wrapper">
    <div class="row">
        <!-- cards -->
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="row align-items-center mt-2 ">
                    <div class="col-lg-6 col-xl-3 col-sm-12  col-12">
                        <div class="card mb-3 card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <i class="fas fa-shopping-cart fa-3x text-info"> </i>
                                    <div class="text-right text-secondary">
                                        <h3>فروش</h3>
                                        <h3>123,000 ت</h3>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-right ">
                                <a href="#" class="text-secondary a-for-decoration ">
                                    <i class="fas fa-sync ml-1"></i>
                                    <span>بروزرسانی</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-sm-12 col-12">
                        <div class="card mb-3 card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <i class="fas fa-money-bill-alt fa-3x text-success "> </i>
                                    <div class="text-right text-secondary">
                                        <h3>سود</h3>
                                        <h3>855,000 ت</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <a href="#"
                                   class="text-secondary a-for-decoration ">
                                    <i class="fas fa-sync ml-1"></i>
                                    <span>بروزرسانی</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-sm-12 col-12">
                        <div class="card mb-3 card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <i class="fas fa-users fa-3x text-primary"> </i>
                                    <div class="text-right text-secondary">
                                        <h3>کاربران</h3>
                                        <h3>20,000 </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right text-right">
                                <a href="#"
                                   class="text-secondary a-for-decoration  ">
                                    <i class="fas fa-sync ml-1"></i>
                                    <span>بروزرسانی</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3 col-sm-12 col-12">
                        <div class="card mb-3 card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <i class="fas fa-chart-line fa-3x text-danger"> </i>
                                    <div class="text-right text-secondary">
                                        <h3>بازدید ها</h3>
                                        <h3>500,000 </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <a href="#"
                                   class="text-secondary a-for-decoration ">
                                    <i class="fas fa-sync ml-1"></i>
                                    <span>بروزرسانی</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end cards -->


    </div>
</section>


<!-- charts -->
<section id="content-wrapper">

    <div class="charts-section mb-3">
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div>

                            <canvas id="myChart" width="400" height="300"> </canvas>
                        </div>


                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <canvas id="myChart2" width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end charts -->
<!-- chat -->

<section id="content-wrapper" id="chatR">
    <div class="charts-section">
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <div>

                            <div class="card ">
                                <div class="card-header border-card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h6 id="chatR">پشتیبانی</h6>
                                        <div>
                                            <i class="fas fa-comments" style="color: #E16F99;"></i>
                                            <i class="fas fa-envelope mr-1 text-info"></i>
                                        </div>


                                    </div>
                                </div>
                                <div class="card-body chatrom">
                                    <ul class="list-unstyled fontiran">
                                        <li>
                                            <div class="d-flex align-items-center  margin-massage  ">
                                                <img src="~/img/Ali.jpg" class=" chat_image" width="37" height="37">
                                                <p class="mx-2 mt-3 p-1 pr-3 text-right chat-massage">سلام چطوری خوبی؟</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center  margin-massage  ">
                                                <img src="~/img/Ali.jpg" class=" chat_image" width="37" height="37">
                                                <p class="mx-2 mt-3 p-1 pr-3 text-right chat-massage">سلام چطوری خوبی؟</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center  margin-massage  ">
                                                <img src="~/img/Ali.jpg" class=" chat_image" width="37" height="37">
                                                <p class="mx-2 mt-3 p-1 pr-3 text-right chat-massage">سلام چطوری خوبی؟</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center flex-row-reverse  margin-massage  ">
                                                <img src="~/img/Ali.jpg" class=" chat_image" width="37" height="37">
                                                <p class="mx-2 mt-3 p-1 pr-3 text-right chat-massage">سلام چطوری خوبی؟</p>
                                            </div>
                                        </li>

                                    </ul>

                                </div>
                                <div class="card-footer  ">
                                    <form>
                                        <div class="input-group d-flex flex-row-reverse">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-info fontiran"
                                                        type="button">
                                                    ارسال
                                                </button>
                                            </div>
                                            <input type="text" class="form-control fontiran"
                                                   placeholder="پیام..">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6 col-sm-12 col-12">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--end  chat -->