



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper default">
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box text-center">
                    <a href="#" class="logo">
                        <img src="assets/img/logo.png" alt="">
                    </a>

                    <div class="account-box-content">
                        <div class="account-box-message">
                            <i class="account-box-message-icon now-ui-icons users_single-02"></i>
                            <h3> رمز عبور شما تغییر کرد </h3>
                            <p>
                                <a asp-action="Login" class="btn btn-success">ورود </a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

